.desktop {
  background-color: #ffffff;
  height: 1138px;
  position: relative;
  width: 1440px;
}

.desktop .overlap {
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
  height: 313px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 623px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 194px;
}

.desktop .frame {
  height: 113px;
  left: 263px;
  position: absolute;
  top: 159px;
  width: 915px;
}

.desktop .overlap-group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  height: 56px;
  left: 30px;
  position: relative;
  top: 26px;
  width: 858px;
}

.desktop .reviews-management-wrapper {
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
  height: 589px;
  left: 0;
  position: absolute;
  top: 313px;
  width: 1440px;
}

.desktop .reviews-management {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #9c9c9c;
  border-radius: 50px;
  height: 589px;
  left: 111px;
  position: relative;
  width: 1222px;
}

.desktop .group {
  height: 27px;
  left: 88px;
  position: absolute;
  top: 362px;
  width: 826px;
}

.desktop .data {
  height: 27px;
  position: relative;
  width: 836px;
}

.desktop .div {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 790px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 36px;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 362px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 132px;
}

.desktop .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 10px;
}

.desktop .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 134px;
}

.desktop .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 65px;
}

.desktop .navbar {
  height: 18px;
  left: 85px;
  position: absolute;
  top: 49px;
  width: 851px;
}

.desktop .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 364px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 780px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .navbar-2 {
  height: 18px;
  left: 88px;
  position: absolute;
  top: 126px;
  width: 836px;
}

.desktop .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 361px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 65px;
}

.desktop .overlap-group-wrapper {
  height: 23px;
  left: 88px;
  position: absolute;
  top: 254px;
  width: 828px;
}

.desktop .overlap-group-2 {
  height: 23px;
  position: relative;
  width: 834px;
}

.desktop .data-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 834px;
}

.desktop .text-wrapper-14 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 362px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-15 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.desktop .text-wrapper-16 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.desktop .text-wrapper-17 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 790px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 36px;
}

.desktop .text-wrapper-18 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 65px;
}

.desktop .rectangle {
  background-color: #d9d9d9;
  height: 236px;
  left: 0;
  position: absolute;
  top: 902px;
  width: 1440px;
}
